@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}

.custom-img {
  background-image: url(../public/Loren_Look_Out.jpg);
}